

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
$color: #A1ECFF;
$transition-time: .5s;

body {
	margin: 0 auto;
	padding: 0px;
	font-family: "fatfrank",sans-serif;
}

.col-xs-12 {
	transition: .5s;
}

.col-md-4 {
	transition: .5s;
}

.glyphicon {
	top: 0px;
}

.navbar-nav {
	float: none;
	margin:0px!important;
	margin-top: 10px;
}

.backbtn {
	margin: 0px 0px 0px 10px;
	a {
		color: $color;
		margin-right: 15px;
		font-size: 30px;
		display: inline-block;
		text-decoration: none;
		overflow: hidden;
		vertical-align: top;
		perspective: 600px;
		perspective-origin: 50% 50%;

		&:hover span {
		      background: $color;
		      transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
	    }
		
		span {
	      display: block;
	      position: relative;
	      padding: 0 3px;
	      transition: all $transition-time ease;
	      transform-origin: 50% 0%;
	      transform-style: preserve-3d;
	      margin-top: 10px;
	      &:after {

	        content: "\e091";
	        display: block;
	        position: absolute;
	        left: 0;
	        top: 0;
	        padding: 0 3px;
	        color: #fff;
	        background: $color;
	        transform-origin: 50% 0%;
	        transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
	      }
	  	}

	}
}

.navbar-default {
	background-image: none;
	border-radius: 0px;
	background-color: white;
	border: none;
	box-shadow: none;
}


/** \e091 **/
.name {
	font-size: 1.6em;
	text-align:center;

	 	a {
		    color: $color;
		    display: inline-block;
		    text-decoration: none;
		    overflow: hidden;
		    vertical-align: top;
		    perspective: 600px;
		    perspective-origin: 50% 50%;
		    &:hover span {
		      background: $color;
		      transform: translate3d( 0px, 0px, -30px ) rotateX( 90deg );
	    }

	    span {
	      display: block;
	      position: relative;
	      padding: 0 3px;
	      transition: all $transition-time ease;
	      transform-origin: 50% 0%;
	      transform-style: preserve-3d;
	      margin-top: 8px;
	      font-size: .8em;
	      &:after {

	        content: attr(data-title);
	        display: block;
	        position: absolute;
	        left: 0;
	        top: 0;
	        padding: 0 3px;
	        color: #fff;
	        background: $color;
	        transform-origin: 50% 0%;
	        transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
	      }
	    }
	}
}

a{
	text-decoration: none;
}
.menu {
	display: table;
	width: 100%;
	table-layout: fixed;
	height: 100%;
	background: #A1ECFF;

	a {
		display: block;
		vertical-align: middle;
		color: white;
		line-height: 48px;
		position: relative;
		background-color: #fff;
		overflow: hidden;
		height: 14.2vh;

		&:hover{
			z-index: 999;
			box-shadow: 0 0 75px 0 rgba(0,0,0,1);
			transition: .2s;
			color: $color;
		}
	}

	h1 {
		position: absolute;
		z-index: 5;
		display: inline-block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-shadow: 2px 2px 10px #000;
		
	}
}

.menu_container {
	position: fixed;
	top: 50px;
	right: 0;
	bottom: 0px;
	left: 0;
	background: #fff;
	overflow: hidden;
}

.logo {
	margin-top: 15px;
	text-align: center;

	a {
		color: gray;
		border: 1px solid gray;
		padding: 10px;
		text-decoration: none;

		&:hover {
			color: $color;
			border: 1px solid #A1ECFF;
			transition: .2s;
		}
	}
}

.animationtext {
	text-align: center;


	h1 {
		font-size: 8em;
		color: white;
		margin-top: 50px;
	}

	h2 {
		font-size: 5em;
		color: white;
	}
}

.animations {
	background: $color;
}

.reel {
	padding: 0px 0px 0px 0px;
}

.navbar {
	margin-bottom: 0px;
}

.ddesign {
	background: $color;

	span {
		position: absolute;
		text-align: center;
		display: table;
		top: 0;
		width: 100%;
		color: white;
		font-size: 1.7em;
		display: block;
	}



	a {

		&:hover {
		background: white;
		}

		.hovertext {
			opacity: 0;
			transition: .5s;
			height: 100%;
				&:hover {
					opacity: 1;
					transition: .5s;
					background: rgba(0, 0, 0, 0.3);
				}
		}
	}
	img {     
	   

	}
}

.slidedown {

	&:hover {
		.hovertext{
			padding-top: 70px;
			
		}
	}
}

.footer {
	position: absolute;
	bottom: 0;
	background: white;
	width: 100%;
	overflow-x:hidden;
	transition: .5s;
}

.btn {
	font-size: 1em;
	color: $color;
	transition: .5s;


		&:hover {
			color: #FF9E9E;
			transition: .5s;
		}
}

.socialicon {
	//margin: 10px 0px 0px 40px;
}

.fa {
	font-size: 2em;
}

.contact {
	margin-top: 70px;
	text-align: center;

	a {
		color: #333333;
		font-family: "Arial",sans-serif;
	}
}

.about {
	text-align: center;
	p {
		font-family: "Arial",sans-serif;
	}
}

.skills {
	text-align: center;

	img {
		width: 100%;
		background: #333333;
	}
	p {
		font-family: "Arial",sans-serif;
	}
}

.outer {
	background: red;
}



@media screen and (min-width: 758px) {
	
	body {
		background: $color;
	}

	.name {
		a{
			span{
				font-size: 1em;
			}
		}
	}

	a{
		text-decoration: none;
	}
	.menu {
		display: table;
		width: 100%;
		table-layout: fixed;
		height: 100%;

		a {
			display: table-cell;
			vertical-align: middle;
			color: #fff;
			line-height: 48px;
			position: relative;
			overflow: hidd en;
			padding: 0px 5px 0px 5px;
			transition: .5s;

			&:hover{
				z-index: 999;
				box-shadow: 0 0 75px 0 rgba(0,0,0,1);
				color: white;
				// transform: rotate(1deg);
				transition: .5s;
				padding-bottom: 25px;
			}

			img {

				&:hover {
					
				}

			}
		}

		h1 {
			position: absolute;
			z-index: 5;
			display: inline-block;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 1.5em;
			
		}
	}

	.menu_container {
		position: fixed;
		top: 220px;
		right: 0;
		bottom: 220px;
		left: 0;
		overflow: hidden;
	}

	.fa {
		font-size: 3em;
	}

	.footer {
		transition: .5s;

		.container {
			padding: 20px 0px 20px 0px;
		}
	}
}

@media screen and (min-width: 1080px) {
	.menu {
		h1 {
			font-size: 2.5em;
		}
	}

	.menu_container {
		top: 150px;
		bottom: 150px;
	}
}














